.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  border: solid 1px #ddd;
  border-radius: 5px;
  background-color: white;
  color: #6d7380;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px;
  color: black;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    background-color: #e7ebf3;
  }
}

.dropdown-button-items {
  display: flex;

  align-items: center;
  font-size: 14px;
  border-radius: 3px;
  padding: 5px 10px;
}

.menuIcon {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.wallet-button {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 600;
  color: #9b1fe9;
  padding: 5px 10px;
  border: 2px solid #9b1fe9;
  border-radius: 5px;
}
